- const keywordslist = [['All Works','all'], ['web design', 'design'], ['illustration', 'illustration'], ['photography', 'photography'], ['wallpapers', 'wallpapers'], ['brochures', 'brochures']]

div#filter
	h3.title.icon-th-thumb Filter
	ul.list
		each item, index in keywordslist
			li.list__item
				a.link(
					href='#' + item[1]
					data-keyword=item[1]
					class=index == 0 ? 'active' : ''
				) #{item[0]}