@import 'prop';

#filter {
	.title {
		margin: 0;
		padding: 1.25rem 1.25rem 0.625rem;
		font-size: 1.125rem;
		font-weight: 400;
		color: $color-accent;

		&::before {
			content: '';
			display: inline-block;
			width: 14*$rem;
			height: 14*$rem;
			margin: 0 0.5rem 0 0;
			background: url(../img/filter-icon.png) center / contain no-repeat;
		}
	}
	
	.list {
		list-style: none;
		padding: 0;
		margin: 0;

		.list__item {
			.link {
				display: block;
				font-size: 12*$em;
				padding: 0.125rem 1.25rem;
				text-decoration: none;
				font-weight: 200;
				color: rgba(255, 255, 255, 0.5);
				
				&:hover {
					color: rgba(255, 255, 255, 0.5);
				}
			}

			&.active {
				.link {
					color: white;
				}
			}
		}
	}
}