@import 'prop';

#nav-btn {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	margin: 1rem;
	width: 3.5rem;
	height: 3.5rem;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
	border: none;
	background-color: transparent;
	filter: drop-shadow(0 0.125rem 0.25rem black);

	.sandwich-icon {
		display: block;
		transform: rotateY(0) translateZ(0);
		transition: transform 0.3s;
		perspective: 10rem;
		transform-style: preserve-3d;

		&::before, &::after {
			content: '';
			display: block;
			margin: 0.5rem auto;
			width: 2rem;
			height: 4px;
			background-color: rgb(255, 255, 255);
			transition: transform 0.3s;
		}
	}
	
	&.active {
		.sandwich-icon {
			margin: 0;
			transform: rotateY(-180deg);

			&::after {
				transform: rotateZ(45deg) translate(-0.25rem, -0.25rem);
			}
			margin: 0;
			&::before {
				transform: rotateZ(-45deg) translate(-0.25rem, 0.25rem);
			}
		}
	}

	@media (max-width: $screen-mobile) and (orientation: portrait), (max-width: $screen-laptop) {
		display: block;
	}
}