$track-color: rgb(128, 128, 128);
$thumb-color: white;

$thumb-radius: 50%;
$thumb-height: 32px;
$thumb-width: 32px;
$thumb-shadow-size: 4px;
$thumb-shadow-blur: 8px;
$thumb-shadow-color: rgba(0, 0, 0, 0.2);
$thumb-border-width: 0;
$thumb-border-color: transparent;

$track-width: 100%;
$track-height: 4px;
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-shadow-color: transparent;
$track-border-width: 0;
$track-border-color: transparent;

$track-radius: 2px;
$contrast: 0;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
	box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size $shadow-color + 5%;
}

@mixin track() {
	width: $track-width;
	height: $track-height;
	cursor: pointer;
	animate: 0.2s;
}

@mixin thumb() {
	@include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
	border: $thumb-border-width solid $thumb-border-color;
	height: $thumb-height;
	width: $thumb-width;
	border-radius: $thumb-radius;
	background: $thumb-color;
	cursor: ew-resize;
}

input[type=range] {
	-webkit-appearance: none;
	margin: $thumb-height/2 0;
	width: $track-width;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		@include track();
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $track-color;
		border-radius: $track-radius;
		border: $track-border-width solid $track-border-color;
	}

	&::-webkit-slider-thumb {
		@include thumb();
		-webkit-appearance: none;
		margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
	}

	&:focus::-webkit-slider-runnable-track {
		background: lighten($track-color, $contrast);
	}

	&::-moz-range-track {
		@include track();
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $track-color;
		border-radius: $track-radius;
		border: $track-border-width solid $track-border-color;
	}
	&::-moz-range-thumb {
		@include thumb();
	}

	&::-ms-track {
		@include track();
		background: transparent;
		border-color: transparent;
		border-width: $thumb-width 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: darken($track-color, $contrast);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius*2;
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
	}
	&::-ms-fill-upper {
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius*2;
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
	}
	&::-ms-thumb {
		@include thumb();
	}
	&:focus::-ms-fill-lower {
		background: $track-color;
	}
	&:focus::-ms-fill-upper {
		background: lighten($track-color, $contrast);
	}
}